#navlist
{
padding: 0 0 20px 10px;
border-bottom: 1px solid #000;
}

#navlist ul, #navlist li
{
display: inline;
list-style-type: none;
}

#navlist a:link, #navlist a:visited
{
float: left;
line-height: 14px;
font-weight: bold;
margin: 0 10px 4px 10px;
text-decoration: none;
color: #999;
border-bottom: 4px solid #fff;
padding-bottom: 2px;
}

#navlist a:link#current, #navlist a:visited#current, #navlist a:hover
{
border-bottom: 4px solid #000;
padding-bottom: 2px;
background: transparent;
color: #000;
}

#navlist a:hover { color: #000; }

h5 { margin: 10px 0 10px 0; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }