{% extends "base_admin.html" %}

{% block content %}

<div class="container_16">
    <div class="grid_16">
        <h5 class="admin_heading">- Comments Awaiting Approval</h5>
    </div>
</div>

{% for comment in comments %}
<div class="container_16">
<div class="review">
    <div class="container_16">
        <div class="grid_2"><b>Blog Post Title:</b></div>
        <div class="grid_14">{{ comment.post.title }}</div>
    </div>
    <div class="container_16">
        <div class="grid_2"><b>Created:</b></div>
        <div class="grid_14">{{ comment.created }}</div>
    </div>
    <div class="container_16">
        <div class="grid_2"><b>Content:</b></div>
        <div class="grid_14">{{ comment.content }}</div>
    </div>
    <div class="container_16">
        <div class="grid_2">&nbsp</div>
        <div class="grid_3">
            <a href="{{ url_for('comments.approve', comment_id=comment.id) }}">Approve</a> / 
            <a href="{{ url_for('comments.delete', comment_id=comment.id) }}">Delete</a>
        </div>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}
