<!doctype html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class=page>
        <h1>Blog!</h1>
        <div class=metanav>
        {% if 'user_id' not in session %}
            <a href="{{ url_for('users.login') }}">login</a>
        {% else %}
            <a href="{{ url_for('users.logout') }}">logout</a>
        {% endif %}
            <a href="/">Home</a>
            <a href="{{ url_for('blog.new') }}">New Post</a>
        </div>

        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
